BasedOnStyle: LLVM
ColumnLimit: 160
UseTab: Never
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BreakBeforeBinaryOperators: None
InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Always
