[submodule "raylib_dc"]
	path = raylib_dc
	url = https://github.com/raylib4Consoles/raylib.git
	branch = raylib4Consoles_6.0
[submodule "GLdc"]
	path = GLdc
	url = git@gitlab.com:meisei4/GLdc.git
	;branch = master ; this is 64 byte vertex + polygonMode/misc-patches
	branch = demo-32-byte-vertex
[submodule "sh4zam"]
	path = sh4zam
	url = https://github.com/gyrovorbis/sh4zam.git
	branch = master
